body {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding: 30px;

  /* position: fixed; */
}

#logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

#nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0 25px;
  list-style-type: none;

  /* position: fixed; */
}

.meals {
  display: grid;
  grid-template-columns: auto;
}

.meal {
  border: 1px solid black;
}

.mealname {
  display: flex;
  justify-content: space-between;
}

.mealImage {
  max-width: 100%;
  height: auto;
}

.like {
  width: 1rem;
}

.reservatio-button,
.comments-button {
  justify-content: center;
}

.comments,
.reservation {
  box-shadow: 2px 3px;
}

.likes-count {
  float: right;
}

.footer {
  border: 3px solid black;
  padding: 2rem;
}

.meal-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  min-width: 100%;
  margin: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.close {
  display: none;
}

.close-image {
  width: 2rem;
}

.mealdiv {
  /* display: flex; */

  /* flex-direction: column; */

  /* width: 60%; */
}

.comment-box {
  padding-left: 20%;
}

#comment-text {
  height: 15vw;
  margin-top: 1rem;
}

.comment-button {
  margin-top: 1rem;
}

#meals-count {
  font-weight: 700;
  text-decoration: underline;
}

.comment-div {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
