.meals {
  display: grid;
  grid-template-columns: auto auto auto;
}

.mealname {
  display: flex;
  justify-content: space-between;
}

.mealImage {
  max-width: 100%;
  height: auto;
}

.like {
  width: 1rem;
}

.reservatio-button,
.comments-button {
  justify-content: center;
}

.comments,
.reservation {
  box-shadow: 2px 3px;
}

.likes-count {
  float: right;
}
